.topnav {
    background-color: black;
    color: white;
    overflow: hidden;
}

.topnav a {
    color: white;
    text-align: center;
    font-size: 17px;
    padding: 14px 16px;
    float: left;
}

#visitcount {
    font-size: 17px;
    float: right;
}